{% include "templates/junos/dns.j2" %}
{% include "templates/junos/interfaces.j2" %}
{% include "templates/junos/ntp.j2" %}
{% include "templates/junos/routing_options.j2" %}
{% include "templates/junos/system.j2" %}
{% include "templates/junos/security.j2" %}